---
import Layout from '../layouts/Layout.astro';
import PhaseRouter from '../components/PhaseRouter';
import { Scene } from '../components/canvas/Scene';
---

<Layout title="Unsaid | Private Session">
	<Scene client:load />
	<main class="relative h-screen w-screen overflow-hidden">
		<PhaseRouter client:load />
	</main>
</Layout>

<script>
	import { useSessionStore } from '../store/useSessionStore';
	import { AppPhase } from '@shared/types';

	const sessionId = window.location.pathname.split('/').pop();
	if (sessionId && sessionId !== '') {
		useSessionStore.getState().setSessionId(sessionId);
		useSessionStore.getState().setPhase(AppPhase.WAITING);
	}
</script>
